.banner-logo {
    padding: 10px;
    background-color: #FFFFFF;
    height: 150px;
    margin-bottom: 20px;
}

.organiser-profile-photo {
    float: left;
    margin: 20px;
    height: 150px;
}

.footer-logo {
    margin-right: 20px;
    height: 50px;
    background-color: #FFFFFF;
    padding: 10px;
}

.float-left {
    float: left;
    margin: 20px;
}